* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  line-height: 50px;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #8191f2;
}

h1::after {
  display: block;
  content: "";
  height: 2px;
  width: 150px;
  background: #8191f2;
  margin: 5px auto 40px;
}


.text-center {
  text-align: center;
}

h2 {
  line-height: 50px;
  color: #8191f2;
}

h3 {
  line-height: 30px;
  padding-bottom: 20px;
}

h4 {
  padding-top: 25px;
  line-height: 40px;
  padding-bottom: 0px;
  font-size: 22px;
  font-weight: 900;

}


.c-main {
  color: #8191f2;
}

p {
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 15px;
}

.space-free {
  height: 100px;
}

.g-pad-bottom {
  padding-bottom: 40px;
}

section {
  padding-top: 50px;
  margin-top: 50px;
}


.form-control {
  background-color: rgba(255, 255, 255, 0);
}

.c-pr-i {
  color: #8191f2;
  padding-left: 10px;
  padding-right: 10px;
}

.go-marg {
  margin-top: 40px;
  color: #8191f2;
}

#home-sec {

  background:linear-gradient(0deg,rgba(0,0,0,0),rgba(0, 0, 0, 0.767)),url("../img/sangil.jpg")center center fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display: block;
  height: auto;
  padding-top: 190px;
  padding-bottom: 200px;
  color: #c1c9fc;
}

.head-main {
  font-size: 53px;
  font-weight: 900;
  padding: 5px;
  text-transform: uppercase;

}

.head-sub-main {
  font-size: 23px;
  font-weight: 500;
  padding: 50px 20px 10px 20px;
  text-transform: uppercase;

}

.head-last {
  font-size: 18px;
  font-weight: 900;
  padding: 5px 20px 20px 20px;
  padding: 5px;
}

.main__container--row-tex-center-icons ul{
  list-style: none;
  font-size: 40px;
}

.main__container--row-tex-center-icons li{
  display: inline-block;
  padding: 15px;
}

.main__container--row-tex-center-icons li a{
  display: block;
  text-decoration: none;
  color:#c1c9fc;
}

.main__container--row-tex-center-icons li a:hover{
  color:#8191f2;
  transition: all .3s;
}

.navbar {
  font-size: 16px;
}

.navbar-inverse {
  background: #8191f2;
  min-height: 60px;
  padding-top: 5px;

}


.navbar-inverse {
  border-color: #8191f2;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #8191f2;
}

#price-sec {
  background-color: #f5f3f3;
}


.plan li {
  padding: 15px 0px;
  color: #000;
  font-size: 16px;
  border-bottom: 1px dotted #e1e1e1;
}

#contact-sec {
  background-color: white;
}

#services-sec{
  background-color: #f5f3f3;
}

.cnt {
  width: 100%;
  min-height: 350px;
  border: 1px solid #e1e1e1;
}


body {
  color: rgb(60, 60, 60);
}

.footer-widget p {
  margin-bottom: 27px;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#4a5895;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.up {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:#8191f2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.loader {
  background: #8191f2;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  clip-path: circle(150% at 100% 0);
  transition: clip-path 0.5s ease-in-out;
}

.loader2 {
  clip-path: circle(0% at 100% 0);
}


button {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  position: relative;
  font-size: 17px;
  background: #5361a0;
  border: none;
  color: #fff;
  border-radius: 50px;
}

button:hover {
  letter-spacing: 0.25em;
  background: #c1c9fc;
  color: #c1c9fc;
  box-shadow: 0 0 45px #c1c9fc;
}

button::before {
  content: '';
  position: absolute;
  inset: 2px;
}

button span {
  position: relative;
  z-index: 1;
  color: #fff;
}

button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: '';
  position: absolute;
  border: 2px solid #c1c9fc;
  width: 7px;
  height: 4px;
  top: -3.5px;
  left: 80%;
  
  transform: translateX(-50%);
  transition: 0.5s;
}

button:hover i::before {
  width: 20px;
  left: 20%;
}

button i::after {
  content: '';
  position: absolute;
  border: 2px solid #c1c9fc;
  width: 7px;
  height: 4px;
  bottom: -3.5px;
  left: 20%;

  transform: translateX(-50%);
  transition: 0.5s;
}

button:hover i::after {
  width: 20px;
  left: 80%;
}